.event-calendar-view {
  /* width: 80vw; */
  border: 1px solid black;
  border-radius: 7px;
  height: 400px;
}
.rbc-time-slot {
  width: 5vw;
  font-size: 10px;
}
.rbc-toolbar {
  display: flex;
  flex-direction: column;
}
